{% block project_sprint_widget %}
    {% spaceless %}

    {% set sprint = false%}
    {% for projectSprint in data.projectSprints if not sprint %}
        {% if projectSprint.number == number %}
            {% set sprint = projectSprint %}
        {% endif %}
    {% endfor %}

    <h3>VALIDATED</h3>

    <div class="row">
        <div class="col-md-1">
            <b>Épic</b>
        </div>
        <div class="col-md-1">
            <b>Codi</b>
        </div>
        <div class="col-md-3">
            <b>Títol</b>
        </div>
        <div class="col-md-3">
            <b>Encarregats</b>
        </div>
        <div class="col-md-4">
            <b>Accions</b>
        </div>
    </div>

    {% for task in data.projectTasks %}
        {% if task.task.sprint and task.task.sprint.number == number and (task.task.status.status == "VALIDATED") %}
            <div class="row" style="border-left-style: solid;border-width: 3px;border-color: green;">
                <div class="col-md-1">
                    {{ task.task.epic }}
                </div>
                <div class="col-md-1">
                    <a href=#>{{ data.prefix }} - {{ task.task.number }}</a>
                </div>
                <div class="col-md-3">
                    {{ task.task.title }}
                </div>
                <div class="col-md-3">
                    {% for user in task.task.assignees %}
                        {{ user.email }}
                    {% endfor %}
                </div>
                <div class="col-md-3">
                    <div class="btn-group">
                        {# show #}
                        <a class="btn btn-sm btn-default" href=#><i class="fa fa-search-plus"></i> Detalls</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <h3>DONE</h3>

    <div class="row">
        <div class="col-md-1">
            <b>Épic</b>
        </div>
        <div class="col-md-1">
            <b>Codi</b>
        </div>
        <div class="col-md-3">
            <b>Títol</b>
        </div>
        <div class="col-md-3">
            <b>Encarregats</b>
        </div>
        <div class="col-md-4">
            <b>Accions</b>
        </div>
    </div>

    {% for task in data.projectTasks %}
        {% if task.task.sprint and task.task.sprint.number == number and (task.task.status.status == "DONE") %}
            <div class="row" style="border-left-style: solid;border-width: 3px;border-color: green;">
                <div class="col-md-1">
                    {{ task.task.epic }}
                </div>
                <div class="col-md-1">
                    <a href=#>{{ data.prefix }} - {{ task.task.number }}</a>
                </div>
                <div class="col-md-3">
                    {{ task.task.title }}
                </div>
                <div class="col-md-3">
                    {% for user in task.task.assignees %}
                        {{ user.email }}
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        {# show #}
                        <a class="btn btn-sm btn-default" href=#><i class="fa fa-search-plus"></i> Detalls</a>
                        <a class="btn btn-sm btn-default" href='/scrum/project/{{ data.id }}/task/{{ task.task.id }}/validate'><i class="fa"></i> Validar</a>
                        <a class="btn btn-sm btn-default" href='/scrum/project/{{ data.id }}/task/{{ task.task.id }}/reopen'><i class="fa"></i> Tornar a obrir</a>
                        <a class="btn btn-sm btn-danger" href=#><i class="fa"></i> Eliminar</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <h3>OnGoing</h3>

    <div class="row">
        <div class="col-md-1">
            <b>Épic</b>
        </div>
        <div class="col-md-1">
            <b>Codi</b>
        </div>
        <div class="col-md-3">
            <b>Títol</b>
        </div>
        <div class="col-md-3">
            <b>Encarregats</b>
        </div>
        <div class="col-md-4">
            <b>Accions</b>
        </div>
    </div>

    {% for task in data.projectTasks %}
        {% if task.task.sprint and task.task.sprint.number == number and (task.task.status.status == "ON_GOING" or task.task.status.status == "REOPENED" ) %}
            <div class="row" style="border-left-style: solid;border-width: 3px;border-color: green;">
                <div class="col-md-1">
                    {{ task.task.epic }}
                </div>
                <div class="col-md-1">
                    <a href=#>{{ data.prefix }} - {{ task.task.number }}</a>
                </div>
                <div class="col-md-3">
                    {{ task.task.title }}
                </div>
                <div class="col-md-3">
                    {% for user in task.task.assignees %}
                        {{ user.email }}
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        {# show #}
                        <a class="btn btn-sm btn-default" href=#><i class="fa fa-search-plus"></i> Detalls</a>
                        <a class="btn btn-sm btn-default" href='/scrum/project/{{ data.id }}/task/{{ task.task.id }}/end'><i class="fa"></i> Finalitzar</a>
                        <a class="btn btn-sm btn-danger" href=#><i class="fa"></i> Eliminar</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <h3>TODO</h3>

    <div class="row">
        <div class="col-md-1">
            <b>Épic</b>
        </div>
        <div class="col-md-1">
            <b>Codi</b>
        </div>
        <div class="col-md-3">
            <b>Títol</b>
        </div>
        <div class="col-md-3">
            <b>Encarregats</b>
        </div>
        <div class="col-md-4">
            <b>Accions</b>
        </div>
    </div>

    {% for task in data.projectTasks %}
        {% if task.task.sprint and task.task.sprint.number == number and task.task.status.status == "TODO" %}
            <div class="row" style="border-left-style: solid;border-width: 3px;border-color: green;">
                <div class="col-md-1">
                    {{ task.task.epic }}
                </div>
                <div class="col-md-1">
                    <a href=#>{{ data.prefix }} - {{ task.task.number }}</a>
                </div>
                <div class="col-md-3">
                    {{ task.task.title }}
                </div>
                <div class="col-md-3">
                    {% for user in task.task.assignees %}
                        {{ user.email }}
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        {# show #}
                        <a class="btn btn-sm btn-default" href=#><i class="fa fa-search-plus"></i> Detalls</a>
                        <a class="btn btn-sm btn-default" href="/scrum/project/{{ data.id }}/task/{{ task.task.id }}/start"><i class="fa"></i> Començar</a>
                        <a class="btn btn-sm btn-danger" href=#><i class="fa"></i> Eliminar</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% endspaceless %}
{% endblock %}

{% block backlog_widget %}
    {% spaceless %}
    <div class="row">
        <div class="col-md-1">
            <b>Épic</b>
        </div>
        <div class="col-md-1">
            <b>Codi</b>
        </div>
        <div class="col-md-3">
            <b>Títol</b>
        </div>
        <div class="col-md-3">
            <b>Encarregats</b>
        </div>
        <div class="col-md-4">
            <b>Accions</b>
        </div>
    </div>

    {% for task in data.projectTasks %}
        {% if not task.task.sprint %}
            <div class="row" style="border-left-style: solid;border-width: 3px;border-color: green;">
                <div class="col-md-1">
                    {{ task.task.epic }}
                </div>
                <div class="col-md-1">
                    <a href=#>{{ data.prefix }} - {{ task.task.number }}</a>
                </div>
                <div class="col-md-3">
                    {{ task.task.title }}
                </div>
                <div class="col-md-3">
                    {% for user in task.task.assignees %}
                        {{ user.email }}
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        {# show #}
                        <a class="btn btn-sm btn-default" href=#><i class="fa fa-search-plus"></i> Detalls</a>
                        <a class="btn btn-sm btn-default" href=#><i class="fa"></i> Ficar a l'sprint</a>
                        <a class="btn btn-sm btn-danger" href=#><i class="fa"></i> Eliminar</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% endspaceless %}
{% endblock %}