{% spaceless %}
{% set enabled = false %}
{% set level = 1 %}

<div id="sprint" class="col-md-12">
    
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-pied-piper-alt"></i> &nbsp;&nbsp;&nbsp;&nbsp; Daily #{{ object.number }}-{{ object.projectSprint.sprint.number }} </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <blockquote class="pull-right">
                    <p>Digan lo que digan, a cada uno le huele bien el pedo que se tira.</p>
                    <small>Someone Alfa</small>
                </blockquote>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    {% if object.previous %}
                        <a style="font-size:90px" class="icon pull-left" href="/scrum/daily/{{ object.previous.id }}/show"><i class="fa fa-chevron-left"></i></a>
                    {% endif %}
                </div>
                <div class="text-center col-xs-4 vertical-venter">
                    {% if object.projectSprint.project.projectStatus.name == "ONDAILY" %}
                        {% if ((object.projectSprint.project.projectSprints | last).sprint.dailies | last ).id == object.id %}
                            <button style="font-size:45px" class="btn btn-link btn-flat " onclick="closeDaily()"> Cerrar Daily</button><br>
                            <button style="font-size:45px" class="btn btn-link btn-flat " onclick=""> Cerrar Sprint</button>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-xs-4">
                    {% if object.next %}
                        <a style="font-size:90px" class="pull-right" href="/scrum/daily/{{ object.next.id }}/show"><i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% for user in object.users %}
        <div class="box box-solid">
            <div class="box-header with-border">
                <div class="box-title">
                    <i class="fa fa-user"></i> <h3 class="box-title"> &nbsp;&nbsp;&nbsp;&nbsp;{{ user.username | capitalize }}</h3>
                </div>
            </div>
            <div class="box-body">
                <ul  style="list-style: none;">
                    <li><strong>Done:</strong></li>
                    {{ include('NakimaScrumBundle:Task:daily_task_done.html.twig', {
                        'dailyTasks' : object.dailyTasks,
                        'user' : user
                    }) }}

                    <li><strong>On going:</strong></li>
                    {{ include('NakimaScrumBundle:Task:daily_task_ongoing.html.twig', {
                        'dailyTasks' : object.dailyTasks,
                        'user' : user
                    }) }}

                    <li><strong>Next:</strong></li>
                    {{ include('NakimaScrumBundle:Task:daily_task_todo.html.twig', {
                        'dailyTasks' : object.dailyTasks,
                        'user' : user
                    }) }}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    function closeDaily() {
        var http = new XMLHttpRequest();
        var url = "/scrum/project/" + {{ object.projectSprint.project.id }} + "/ready";

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                document.getElementById('sprint').outerHTML = response.body;

                showSuccess("Ya podeis continuar panda de olgazanes (menos Alfa, el no es un olgazan).");
            } else if (http.readyState == 4) {
                showError("No se ha podido cerrar el daily (" + http.status + ")");
            }
        }
        http.send();
    }
</script>

{% endspaceless %}