{% spaceless %}
{% set enabled = false %}
{% set level = 1 %}

<div id="sprint" class="col-md-12">
    {% if object.projectStatus.name == "BUILDING" %}
        <div class="callout callout-warning lead">
            <h4><i class="icon fa fa-exclamation-triangle"></i> &nbsp; Alerta!</h4>
            <p>
                Este proyecto se encuentra en estado de planificación.
            </p>
        </div>
    {% elseif object.projectStatus.name == "PLANNING" %}
        <div class="callout callout-warning lead">
            <h4><i class="icon fa fa-exclamation-triangle"></i> &nbsp; Alerta!</h4>
            <p>
                Este proyecto se encuentra haciendo la <a>retrospectiva</a>.
            </p>
        </div>
    {% elseif object.projectStatus.name == "ONDAILY" %}
        <div class="callout callout-warning lead">
            <h4><i class="icon fa fa-exclamation-triangle"></i> &nbsp; Alerta!</h4>
            <p>
                Este proyecto se encuentra haciendo actualmente hacuiendo el <a href="/scrum/daily/{{ ((object.projectSprints | last).sprint.dailies | last).id }}/show">Daily Sprint.</a>.
            </p>
        </div>
    {% else %}
        {% set enabled = true %}
    {% endif %}

    {% if object.projectStatus.name == "READY" %}
        <div class="box box-default">
            <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-pied-piper"></i> {{ object.prefix }} | {{ object.name }} </h3>
        </div>
            <div class="box-body">
                <div class="text-center col-xs-12">
                    <button style="font-size:45px" class="btn btn-default btn-flat " onclick="prepareDaily()"> Crear daily</button>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="box box-solid">
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#sprint-tab" data-toggle="tab" aria-expanded="true">Sprint</a>
                    </li>
                    <li class="">
                        <a href="#info" data-toggle="tab" aria-expanded="false">Project info</a>
                    </li>
                    {# TODO can edit project #}
                    <li class="">
                        <a class="btn" href="/scrum/project/1/edit" data-toggle="" aria-expanded="false">Edit</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="sprint-tab">
                        <ul class="timeline">

                            <li class="time-label">
                                <span class="bg-green">
                                    Validated
                                </span>
                            </li>
                            {% for projectTask in object.projectTasks %}
                                {{ include('NakimaScrumBundle:Task:sprint_task_validated.html.twig', {
                                    'project' : object,
                                    'projectTask' : projectTask,
                                    'enabled' : enabled,
                                    'level' : level
                                }) }}
                            {% endfor %}
                            
                            <li class="time-label">
                                <span class="bg-yellow">
                                    Completed
                                </span>
                            </li>
                            {% for projectTask in object.projectTasks %}
                                {{ include('NakimaScrumBundle:Task:sprint_task_done.html.twig', {
                                    'project' : object,
                                    'projectTask' : projectTask,
                                    'enabled' : enabled,
                                    'level' : level
                                }) }}
                            {% endfor %}

                            <li class="time-label">
                                <span class="bg-orange">
                                    In Progress
                                </span>
                            </li>
                            {% for projectTask in object.projectTasks %}
                                {{ include('NakimaScrumBundle:Task:sprint_task_ongoing.html.twig', {
                                    'project' : object,
                                    'projectTask' : projectTask,
                                    'enabled' : enabled,
                                    'level' : level
                                }) }}
                            {% endfor %}
                            
                            <li class="time-label">
                                <span class="bg-red">
                                    TODO
                                </span>
                            </li>
                            {% for projectTask in object.projectTasks %}
                                {{ include('NakimaScrumBundle:Task:sprint_task_todo.html.twig', {
                                    'project' : object,
                                    'projectTask' : projectTask,
                                    'enabled' : enabled,
                                    'level' : level
                                }) }}
                            {% endfor %}
                            
                            <li><i class="fa fa-plus bg-gray btn-link" onclick="location.href='/scrum/task/create'"/></i></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="info">
                        infoljhgfjhgvuyg
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function start(taskId, projectId) {
        var http = new XMLHttpRequest();
        var url = "/scrum/project/" + projectId + "/task/" + taskId + "/start";

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                document.getElementById('sprint').outerHTML = response.body;
                showSuccess("Ya se puede empezar esta tarea.");
            } else if (http.readyState == 4) {
                showError("Error al iniciar la tarea.");
            }
        }
        http.send()
    }

    function reopen(taskId, projectId) {
        var http = new XMLHttpRequest();
        var url = "/scrum/project/" + projectId + "/task/" + taskId + "/reopen";

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                document.getElementById('sprint').outerHTML = response.body;

                showSuccess("La tarea se ha reabierto con éxito.");
            } else if (http.readyState == 4) {
                showError("Error al reabrir la tarea.");
            }
        }
        http.send()
    }

    function done(taskId, projectId) {
        var http = new XMLHttpRequest();
        var url = "/scrum/project/" + projectId + "/task/" + taskId + "/done";

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                document.getElementById('sprint').outerHTML = response.body;

                showSuccess("La tarea se ha finalizado con éxito.");
            } else if (http.readyState == 4) {
                showError("Error al finalizar la tarea.");
            }
        }
        http.send()
    }

    function validate(taskId, projectId) {
        var http = new XMLHttpRequest();
        var url = "/scrum/project/" + projectId + "/task/" + taskId + "/validate";

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                document.getElementById('sprint').outerHTML = response.body;
                showSuccess("La tarea se ha validado con éxito.");
            } else if (http.readyState == 4) {
                showError("Error al validar la tarea.");
            }
        }
        http.send()
    }

    function backlog(taskId, projectId) {
        var http = new XMLHttpRequest();
        var url = "/scrum/project/" + projectId + "/task/" + taskId + "/backlog";

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                document.getElementById('sprint').outerHTML = response.body;
                showSuccess("La tarea se ha movido al backlog con éxito.");
            } else if (http.readyState == 4) {
                showError("Error al mover la tarea al backlog.");
            }
        }
        http.send()
    }

    function log(id, taskId, projectId) {
        var form = document.getElementById(id);
        var minutes = parseInt(form.getElementsByClassName("minutes")[0].value);
        var hours = parseInt(form.getElementsByClassName("hours")[0].value);
        var message = form.getElementsByClassName("message")[0].value;
        var time = 60 * hours + minutes;

        var params = "time=" + time + "&message=" + message;
        var http = new XMLHttpRequest();
        var url = "/scrum/project/" + projectId + "/task/" + taskId + "/log";

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                document.getElementById('sprint').outerHTML = response.body;
                showSuccess("El tiempo se ha registrado con éxito.");
            } else if (http.readyState == 4) {
                showError("No se ha podido guardar el tiempo.");
            }
        }
        http.send(params);
    }

    function prepareDaily() {
        var http = new XMLHttpRequest();
        var url = "/scrum/project/" + {{ object.id }} + "/prepareDaily";

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                var response = JSON.parse(http.responseText);
                document.getElementById('sprint').outerHTML = response.body;

                showSuccess("It's daily time!");
            } else if (http.readyState == 4) {
                showError("No se ha podido crear el daily (" + http.status + ")");
            }
        }
        http.send();
    }
    </script>
{% endspaceless %}