{% spaceless %}
<ul  style="list-style: none;">
    {% for dailyTask in dailyTasks %}
        {% if dailyTask.status.name == "DONE" %}
            {% if dailyTask.task.assignees.contains(user) %}
                {% if dailyTask.updated %}
                    <li>
                        {{ dailyTask.task.__toString }}
                    </li>
                {% else %}
                    <li class="text-muted" style="color:lightgray">
                        {{ dailyTask.task.__toString }}
                    </li>
                {% endif %}
                {% if dailyTask.issues | length and dailyTask.spent %}
                    <ul  style="list-style: none;">
                        {% for issue in dailyTask.issues %}
                            {% if issue.message %}
                                <li><i class="fa fa-exclamation-circle"></i> {{ issue.message }} </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if dailyTask.status.name == "VALIDATED" %}
            {% if dailyTask.task.assignees.contains(user) %}
                {% if dailyTask.updated %}
                    <li>
                        {{ dailyTask.task.__toString }}
                    </li>
                {% else %}
                    <li class="text-muted" style="color:lightgray">
                        {{ dailyTask.task.__toString }}
                    </li>
                {% endif %}
                {% if dailyTask.issues | length and dailyTask.spent %}
                    <ul  style="list-style: none;">
                        {% for issue in dailyTask.issues %}
                            {% if issue.message %}
                                <li><i class="fa fa-exclamation-circle"> </i> {{ issue.message }} </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% endspaceless %}