{% spaceless %}
{% if projectTask.task.status.name == "REOPENED" %}
    <li>
        <!-- timeline icon -->
        <i class="fa fa-flash bg-orange"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ projectTask.task.ago }}</span>
            {% if level <= 1 %}
                <h3 class="timeline-header"><a href="/scrum/task/{{ projectTask.task.id }}/edit">{{ project.prefix }}-{{ projectTask.task.number }} | {{ projectTask.task.title }}</a></h3>        
            {% else %}
                <h3 class="timeline-header"><a>{{ project.prefix }}-{{ projectTask.task.number }} | {{ projectTask.task.title }}</a></h3>
            {% endif %}
            <div class="timeline-body">
                Assignees:
                {% for assignee in projectTask.task.assignees %}
                    {% if not loop.first %} - {% endif %}
                    <span><b>{{ assignee.username }}</b></span>
                {% endfor %}
            </div>
            {% if enabled %}
                <div class="timeline-footer">
                    <div class="btn-group">
                        <a class="btn btn-info btn-sm" onclick="done({{ projectTask.task.id }}, {{ project.id }})">Finalizar</a>
                        <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_{{ projectTask.id }}">Registrar tiempo</a>
                    </div>
                </div>
                <div class="modal fade" id="modal_{{ projectTask.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog"><!-- modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Registrar tiempo</h4>
                            </div>
                            <div class="modal-body">
                                <p>Marca la cantidad de tiempo que le has dedicado a la tarea desde su última vez</p>
                                <p>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="number" class="hours form-control" style="width:60px" min="0" value="0">
                                        <span class="input-group-addon">:</span>
                                        <input type="number" class="minutes form-control" style="width:60px" min="0" max="59" value="30">
                                    </div>
                                </p>
                                <p>
                                    En caso de que hayas tenido algun problema realizando la tarea, ahora es tu momento.
                                </p>
                                <p>
                                    <div class="form-group">
                                        <textarea class="form-control message" rows="3" placeholder="Escribe tu issue ..." width="100%" maxlength="150"></textarea>
                                    </div>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="log('modal_{{ projectTask.id }}', {{ projectTask.task.id }}, {{ project.id }})">Registrar tiempo</button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div>
            {% endif %}
        </div>
    </li>
{% endif %}

{% if projectTask.task.status.name == "ON_GOING" %}
    <li>
        <!-- timeline icon -->
        <i class="fa fa-exclamation bg-orange"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ projectTask.task.ago }}</span>
            {% if level <= 1 %}
                <h3 class="timeline-header"><a href="/scrum/task/{{ projectTask.task.id }}/edit">{{ project.prefix }}-{{ projectTask.task.number }} | {{ projectTask.task.title }}</a></h3>        
            {% else %}
                <h3 class="timeline-header"><a>{{ project.prefix }}-{{ projectTask.task.number }} | {{ projectTask.task.title }}</a></h3>
            {% endif %}
            <div class="timeline-body">
                Assignees:
                {% for assignee in projectTask.task.assignees %}
                    {% if not loop.first %} - {% endif %}
                    <span><b>{{ assignee.username }}</b></span>
                {% endfor %}
            </div>
            {% if enabled %}
                <div class="timeline-footer">
                    <div class="btn-group">
                        <a class="btn btn-info btn-sm" onclick="done({{ projectTask.task.id }}, {{ project.id }})">Finalizar</a>
                        <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_{{ projectTask.id }}">Registrar tiempo</a>
                    </div>
                </div>
                <div class="modal fade" id="modal_{{ projectTask.id }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog"><!-- modal-content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title">Registrar tiempo</h4>
                            </div>
                            <div class="modal-body">
                                <p>Marca la cantidad de tiempo que le has dedicado a la tarea desde su última vez</p>
                                <p>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="number" class="hours form-control" style="width:60px" min="0" value="0">
                                        <span class="input-group-addon">:</span>
                                        <input type="number" class="minutes form-control" style="width:60px" min="0" max="59" value="30">
                                    </div>
                                </p>
                                <p>
                                    En caso de que hayas tenido algun problema realizando la tarea, ahora es tu momento.
                                </p>
                                <p>
                                    <div class="form-group">
                                        <textarea class="form-control message" rows="3" placeholder="Escribe tu issue ..." width="100%" maxlength="150"></textarea>
                                    </div>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="log('modal_{{ projectTask.id }}', {{ projectTask.task.id }}, {{ project.id }})">Registrar tiempo</button>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div>
            {% endif %}
        </div>
    </li>
{% endif %}
{% endspaceless %}