{% spaceless %}
{% if projectTask.task.status.name == "VALIDATED" %}
    <li>
        <!-- timeline icon -->
        <i class="fa fa-check bg-green"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ projectTask.task.ago }}</span>
            {% if level <= 1 %}
                <h3 class="timeline-header"><a href="/scrum/task/{{ projectTask.task.id }}/edit">{{ project.prefix }}-{{ projectTask.task.number }} | {{ projectTask.task.title }}</a></h3>        
            {% else %}
                <h3 class="timeline-header"><a>{{ project.prefix }}-{{ projectTask.task.number }} | {{ projectTask.task.title }}</a></h3>
            {% endif %}

            <div class="timeline-body">
                Assignees:
                {% for assignee in projectTask.task.assignees %}
                    {% if not loop.first %} - {% endif %}
                    <span><b>{{ assignee.username }}</b></span>
                {% endfor %}
            </div>
        </div>
    </li>
{% endif %}
{% endspaceless %}