{% spaceless %}
{% if projectTask.task.status.name == "DONE" %}
    <li>
        <!-- timeline icon -->
        <i class="fa fa-question bg-yellow"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ projectTask.task.ago }}</span>
            {% if level <= 1 %}
                <h3 class="timeline-header"><a href="/scrum/task/{{ projectTask.task.id }}/edit">{{ project.prefix }}-{{ projectTask.task.number }} | {{ projectTask.task.title }}</a></h3>        
            {% else %}
                <h3 class="timeline-header"><a>{{ project.prefix }}-{{ projectTask.task.number }} | {{ projectTask.task.title }}</a></h3>
            {% endif %}
            <div class="timeline-body">
                Assignees:
                {% for assignee in projectTask.task.assignees %}
                    {% if not loop.first %} - {% endif %}
                    <span><b>{{ assignee.username }}</b></span>
                {% endfor %}
            </div>
            {% if enabled %}
                <div class="timeline-footer">
                    <div class="btn-group">
                        <a class="btn btn-info btn-sm" onclick="validate({{ projectTask.task.id }}, {{ project.id }})">Validar</a>
                        <a class="btn btn-danger btn-sm" onclick="reopen({{ projectTask.task.id }}, {{ project.id }})">Reabrir</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </li>
{% endif %}
{% endspaceless %}