{% extends sonata_block.templates.block_base %}

{# convert this in a block type #}
{% block block %}
    <div class="small-box bg-aqua">
        <div class="inner">
            <h3>{{ total }}</h3>
            <p>Proyectos en marcha</p>
        </div>
        <div class="icon">
            <i class="fa fa-pied-piper "></i>
        </div>
        {# TODO Link below must not be hardcoded? #}
        <a href="/scrum/project/create" class="small-box-footer">
            Crear un proyecto nuevo <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
{% endblock %}