{% extends sonata_block.templates.block_base %}

{# convert this in a block type #}
{% block block %}
    <div class="small-box bg-green">
        <div class="inner">
            <h3>{{ total }}</h3>
            <p>Tareas resueltas</p>
        </div>
        <div class="icon">
            <i class="fa fa-tasks"></i>
        </div>
        {# TODO Link below must not be hardcoded? #}
        <a href="/scrum/project/select" class="small-box-footer">
            Añadir otra <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
{% endblock %}