{% extends "NakimaAdminBundle:Block:base.html.twig" %}

{# convert this in a block type #}
{% block block %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Proyectos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body" style="display: block;">
            <div class="row">
                <div class="col-md-12">
                    {% for project in block.getProjects() %}
                        <div class="row">
                            <div class="col-md-8">
                                <div class="btn-group">
                                    <a class="btn btn-link" href="/scrum/project/{{ project.id }}/show">{{ project.prefix }} - {{ project.name }}</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="progress-group">
                                    <span class="progress-text">Tareas completadas</span>
                                    <span class="progress-number"><b>{{ project.totalCompletedTasks }}</b>/{{ project.totalTasks }}</span>
                                    <div class="progress xs">
                                        {% if project.totalTasks %}
                                            <div class="progress-bar progress-bar-aqua " style="width: {{ project.totalCompletedTasks / project.totalTasks * 100 }}%"></div>
                                        {% else %}
                                            <div class="progress-bar progress-bar-aqua " style="width: 100%"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}